.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    gap: 10px;
}
.post-item-container{
    display: flex;
    flex-direction: column;
    width: 85%;

}
#my_modal_1{
    margin: auto;
    padding: 25px;
}
.post-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn{
    margin-bottom: 10px;
}