.post-item{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: solid 1px black;
    border-radius: 15px;
}
#my_modal_1{
    margin: auto;
    padding: 25px;
}
.post-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}