.Container-posts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    gap: 10px;
}
.post-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#my_modal_1{
    margin: auto;
    padding: 25px;
    background-color: #f9f9f9;
    background-color: #ffffff;
    border-color: black;
}
.modal-box{
    color: black;
}
.post-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn{
    margin-bottom: 10px;
}
.side-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.edit-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.media-size{
    width: 50%;
    height: auto;
}
.maak-post-btn{
    width: auto;
}

