.post-item{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: solid 1px black;
    border-radius: 15px;
    margin-bottom: 10px;
    gap: 10px;
}
.Button-container{
    display: flex;
    flex-direction: row;
}
.user-buttons2332{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}