.post-item{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: solid 1px rgb(197, 197, 197);
    border-style: solid solid none solid;
    gap: 10px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.355);
}
.Button-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.user-buttons2332{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.likeBtn{
    width: auto;
}
.Likes{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-self: center;
}
.Btnpost{
    width: auto;
    height: auto;
}
