.container-Login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Login-button-option{
    width: 20%;
    height: auto;
}
.Divider-login-buttons-container{
    display: flex;
    flex-direction: row;
}
.Divider-login-buttons{
    width: 105px;
    height: 1px;
    background-color: lightgrey;
    margin: 10px;
}