.container-Login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.Login-account-button{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Login-button-option{
    width: 20%;
    height: auto;
}
.Divider-login-buttons-container{
    display: flex;
    flex-direction: row;
}
.Divider-login-buttons{
    width: 105px;
    height: 1px;
    background-color: lightgrey;
    margin: 10px;
}

#my_modal_2{
    width: 40%;
    height: 60%;
    margin: auto;
    padding: 25px;
}
.modal-box{
    padding: 50px;
}
.Inloggen-modal{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.Login-input-fields{
    display: flex;
    justify-content: space-between;
}
.Login-modal-buttons{
    display: flex;
    justify-content: space-between;
}
#password{
    width: 60%;
}
#email-address{
    width: 60%;
}

